<header class="header">
  <div class="header__container container">
      <a href="#" class="header__logo">
          Zent-Nova<span class="header__dot">.</span>
      </a>

      <button class="header__burger" aria-label="Меню">
          <i data-lucide="menu"></i>
      </button>

      <nav class="header__nav">
          <ul class="header__list">
              <li class="header__item"><a href="#" class="header__link is-active">Главная</a></li>
              <li class="header__item"><a href="#about" class="header__link">О Платформе</a></li>
              <li class="header__item"><a href="#expertise" class="header__link">Экспертиза</a></li>
              <li class="header__item"><a href="#innovations" class="header__link">Инновации</a></li>
              <li class="header__item"><a href="#career" class="header__link">Карьера</a></li>
              <li class="header__item"><a href="#reviews" class="header__link">Отзывы</a></li>
              <li class="header__item"><a href="#faq" class="header__link">Вопросы</a></li>
          </ul>
          <a href="#contact" class="header__cta btn btn--small">
              Начать <i data-lucide="arrow-right" class="icon-sm"></i>
          </a>
      </nav>
  </div>
</header>